# 1. Preparing part

#### pip install jupyterthemes
#### jt -t chesterish

In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_rows =10

## 1.1 Array can contain anything.

In [2]:
test = []
test1 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],index=['a','b','c'],columns=['A','B','C'])
test2 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],index=['a','b','c'],columns=['A','B','C'])
test.append(test1)
test.append(test2)
test_final = pd.concat(test,ignore_index=True)
test_final

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
3  1  2  3
4  4  5  6
5  7  8  9

# 2. Get counts

In [3]:
def get_counts(anything):
    counts = {}
    for a in anything:
        if a in counts:
            counts[a] = counts[a] + 1
        else:
            counts[a] = 1
    return counts

test = ['Leo','Leo','yao','yao','yao','aa','bb','cc','dd','dd','ee','uu','uu','oo','oo','oo','oo']
print(get_counts(test))
counts_dic = get_counts(test)
def top_counts(counts_dic,top):
    key_paires = [(a,b) for a,b in counts_dic.items()]
    key_paires.sort()
    return key_paires[-top:]
print(top_counts(counts_dic, 3))

{'Leo': 2, 'yao': 3, 'aa': 1, 'bb': 1, 'cc': 1, 'dd': 2, 'ee': 1, 'uu': 2, 'oo': 4}
[('oo', 4), ('uu', 2), ('yao', 3)]

# 3. Quantitative

### 3.1 The use of set

In [4]:
print(set([1,2,3,3,4])) ## set will return a dictionnery without values
dic = {'a':1,'a':3,'b':4}
print(dic) ## Here we can see an attribute in dictionnery is that it will never have duplicate index

a1 = set([1,2,3,4,5])
b1 = set([5,6,67,7,9])
a1&b1   
a1|b1   #Thats what set can do: operations of sets
l1 = [1,2,3,3,4,5,7,8,9,0,1,2,3,6]
print(set(l1))   # Or we can use set to get a non-duplicate list

{1, 2, 3, 4}
{'a': 3, 'b': 4}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

### 3.2 What map returns

In [5]:
l2 = [1,3,5,7,9]
l3 = map(lambda x:2*x,l2)
print(l3) # Map returns a map object
list(l3)   # What list() needs is a iterable thing and returns a list

<map object at 0x000001E339E6BB38>

[2, 6, 10, 14, 18]

### 3.3 Generators and iterators

In [6]:
## In python , who can have __iter__() and next() will be called a iterator 
## which returns the iterator itself and the next elenments in the iterator
## By the way in the function next(), it will raise StopIteration at the end.
class My_range(object):
    def __init__(self,n):
        self.index = 0
        self.n = n
    def __iter__(self):
        return self
    def __next__(self):
        if self.index < self.n:
            val = self.index
            self.index+=1
            return val
        else:
            raise StopIteration
    
a = My_range(5)
print(list(a))    ### Congratulations! You've got a iterable class now!



## Actually generator is kind of iterator
def Another_range(n):
    i = 0
    while i < n:
        yield i
        i+=1
c = Another_range(5)
print(list(c))       ### Congratulations ! Another iterable function!

[i for i in range(10) if i%2 ==0]
print((i for i in range(10) if i%2 ==0)) ## It returns a genetator object which is very alike what Another_range does

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
<generator object <genexpr> at 0x000001E339E68D00>

In [7]:
def handle_non_numerical_data(df):
    columns = df.columns.values
    for column in columns:
        text_digit_vals = {}
        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist() # return a list of all columns values
            unique_elements = set(column_contents) # Actually it does like drop all the duplicate values
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x   # text_digit_vals is really a dictionnery!
                    x+=1
            df[column] = list(map(lambda val:text_digit_vals[val],df[column])) # After that it changes this column and go to the next column
            print(text_digit_vals)
    return df

df = pd.DataFrame([['leo','male','football'],['Anne','female','football'],['LiLi','female','football']],columns=['Name','Sex','Habbit'])
handle_non_numerical_data(df)

{'LiLi': 0, 'leo': 1, 'Anne': 2}
{'male': 0, 'female': 1}
{'football': 0}

   Name  Sex  Habbit
0     1    0       0
1     2    1       0
2     0    1       0

In [9]:
n

1.0