# 1. Preparing part

In [22]:
import pandas as pd
import numpy as np
pd.options.display.max_rows =10

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
3  1  2  3
4  4  5  6
5  7  8  9

## 1.1 Array can contain anything.

In [23]:
test = []
test1 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],index=['a','b','c'],columns=['A','B','C'])
test2 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],index=['a','b','c'],columns=['A','B','C'])
test.append(test1)
test.append(test2)
test_final = pd.concat(test,ignore_index=True)
test_final

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
3  1  2  3
4  4  5  6
5  7  8  9

# 2. Get counts

In [10]:
def get_counts(anything):
    counts = {}
    for a in anything:
        if a in counts:
            counts[a] = counts[a] + 1
        else:
            counts[a] = 1
    return counts

test = ['Leo','Leo','yao','yao','yao','aa','bb','cc','dd','dd','ee','uu','uu','oo','oo','oo','oo']
print(get_counts(test))
counts_dic = get_counts(test)
def top_counts(counts_dic,top):
    key_paires = [(a,b) for a,b in counts_dic.items()]
    key_paires.sort()
    return key_paires[-top:]
print(top_counts(counts_dic, 3))

{'Leo': 2, 'yao': 3, 'aa': 1, 'bb': 1, 'cc': 1, 'dd': 2, 'ee': 1, 'uu': 2, 'oo': 4}
[('oo', 4), ('uu', 2), ('yao', 3)]