In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
from sklearn.cluster import KMeans
from sklearn import preprocessing,cross_validation
pd.options.display.max_columns =10

PATH = 'titanic.xls '

In [19]:
df = pd.read_excel(PATH)
df.drop(['body','name'],1,inplace=True)
df.convert_objects(convert_numeric=True)
df.fillna(0,inplace=True)
df.head()

def handle_non_numerical_data(df):
    columns = df.columns.values
    
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]
        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1
            df[column] = list(map(convert_to_int,df[column]))
    return df
df = handle_non_numerical_data(df)
df.head()

E:\python\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  This is separate from the ipykernel package so we can avoid doing imports until

,pclass,survived,sex,age,sibsp,...,fare,cabin,embarked,boat,home.dest
0,1,1,0,29.0000,0,...,211.3375,176,1,1,93
1,1,1,1,0.9167,1,...,151.5500,58,1,18,168
2,1,0,0,2.0000,1,...,151.5500,58,1,0,168
3,1,0,1,30.0000,1,...,151.5500,58,1,0,168
4,1,0,0,25.0000,1,...,151.5500,58,1,0,168